@model IEnumerable<ProyectoFront.Models.CitaModel>

@{
    ViewData["Title"] = "Histórico de citas";
}

<h2>Histórico de Citas @if(ViewBag.Servicio != null){
<span>para: @ViewBag.Servicio</span>
}
</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Identificación</th>
            <th>Monto total</th>
            <th>Fecha cita</th>
            <th>Fecha registro</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.NombreDeLaPersona</td>
                <td>@c.Telefono</td>
                <td>@c.Correo</td>
                <td>@c.Identificacion</td>
                <td>@c.MontoTotal.ToString("0.00")</td>
                <td>@c.FechaDeLaCita</td>
                <td>@c.FechaDeRegistro</td>
            </tr>
        }
    </tbody>
</table>
